
<!--input type="button" (click)="llamaService()" class="btn btn-info" value="Pulsame" > 
<input type="button" (click)="llamaServicePromesa()" class="btn btn-info" value="Pulsame Promesa" --> 

<!-- Centered Pills -->
<nav class="nav nav-pills nav-fill">
  <a class="nav-link active" routerLinkActive="active" routerLink="/">Ir al Inicio</a>
  <a class="nav-link" routerLinkActive="active" routerLink="/Juegos">Ir a la sala de juegos</a>
</nav>
<app-listado-de-resultados [listado]="partidasSvc.getPartidas"></app-listado-de-resultados>

