.contenedor_letras {
  border: 1px solid black;
  height: 200px;
}

.letra {
  height: 100px;
  width: 100px;
  border-bottom: 3px solid black;
  margin-right: 5px;
  text-align: center;
  font-size: 36px;
}