<div class="container" *ngIf="reiniciar">
  <div class="d-flex align-items-center justify-content-center mb-3">
    <img [src]="urlImg + intentos + '.jpg'" alt="figura">
  </div>

  <div class="bg-secondary d-flex align-items-center justify-content-center contenedor_letras">
    <div *ngFor="let idx of juegoNuevo.palabraAdivinar.split('')" class="letra"></div>
  </div>

  <div class="alert alert-primary text-center mt-3">
    Ingrese una letra
  </div>
</div>

<!-- Button trigger modal -->
<button [hidden]="true"  id="botonVentanaModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="mensajeVentanaModal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>