<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" routerLink="/">Ir al inicio</a>
</nav>

<table class="table table-bordered table-hover text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Apodo</th>
      <th scope="col">Email</th>
      <th scope="col">Fecha Ingreso</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of jugadoresSvc.getJugadores | async; let i = index;">
      <td>{{i+1}}</td>
      <td>{{jugador.apodo}}</td>
      <td>{{jugador.email}}</td>
      <td>{{jugador.fechaIngreso.seconds * 1000 | date:'dd-MM-yyyy' }}</td>
    </tr>
  </tbody>
</table>

