<div id="principal">
  <app-cabecera>  </app-cabecera>
  
  
  
  
  <div class="container mt-5 text-white">
      <ul class="row">
          <li class="col-sm-12 d-flex justify-content-center mb-3">
            <h4 class="card-title text-center">Menú Principal</h4>
          </li>
          <li class="col-sm-6">
            <div class="card border-primary bg-primary text-white">
              
              <a routerLink="/Juegos" class="text-white">
                <img src="/assets/imagenes/saladejuegos.jpg" class="card-img-top" alt="Juegos">
                <div class="card-body">
                  <h4 class="card-title text-center">Juegos</h4>
                  <p class="card-text">El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
                </div>
                <button type="button" class="btn btn-primary btn-block">Ir a Juegos</button>
              </a>
            </div>
          </li>
          <li class="col-sm-6">
            <div class="card border-primary bg-primary text-white">
              <a routerLink="/Listado" class="text-white text-center">
                <img src="/assets/imagenes/listado.jpg" class="card-img-top" alt="listado">
                <div class="card-body">
                <h4 class="card-title text-center">Listados de resultados</h4>
                <p class="card-text">Los listados de los resultados con ordenamiento y busqueda <br> <br> <br> <br> <br></p>
                </div>
                <button type="button" class="btn btn-primary btn-block">Ir a Listado</button>
              </a>
            </div>
          </li>
          <li class="col-sm-6">
            <div class="card border-secondary bg-secondary text-white">
              <a routerLink="/Configuracion" class="text-white text-center">
              <img src="/assets/imagenes/configuracion.jpg" class="card-img-top" alt="Configuracion">
              <div class="card-body">
                <h4 class="card-title text-center">Configuraci&oacute;n</h4>
                <p class="card-text">Ajustes de la aplicacion y los métodos de autentificación <br> <br> <br> <br></p>
              </div>
              <button class="btn btn-secondary btn-block">Ir a Configuración</button>
              </a>
            </div>
          </li>
          <li class="col-sm-6">
            <div class="card border-dark bg-dark text-white">
              <a routerLink="/Jugadores" class="text-white text-center">
                <img src="/assets/imagenes/jugadores.png" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title text-center">Jugadores</h4>
                  <p class="card-text">Listado de jugadores <br> <br> <br> <br></p>
                </div>
                <button class="btn btn-dark btn-block">Ir a Jugadores</button>
              </a>
            </div>
          </li>
      </ul>
  </div>
</div>