.cards {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,minmax(250px, 1fr));
    grid-gap: 16px;
}

.card-img-top {
    height: 260px;
}

@media only screen and (max-width: 589px) {
    .cards {
        grid-template-columns: 1fr;
    }
}