<div class="container p-5 animated fadeIn fast">
  <h1 class="text-center">Juegos</h1>
  <div class="cards mt-5">
    <div class="card border-primary">
          <img src="/assets/imagenes/aritmetica.jpg" class="card-img-top" alt="Aritmetica">
          <div class="card-body text-center">
            <h5 class="card-title">Velocidad y agilidad aritmética</h5>
          </div>
          <div class="card-footer bg-transparent">
            <a routerLink="/Juegos/Agilidad" class="btn btn-block btn-primary">Jugar</a>
          </div>
    </div>

    <div class="card border-secondary bg-primary">
          <img src="/assets/imagenes/ppt.jpg" class="card-img-top" alt="Aritmetica">
          <div class="card-body text-center">
            <h5 class="card-title">Piedra Papel o Tijera</h5>
          </div>
          <div class="card-footer bg-transparent">
            <a routerLink="/Juegos/PPT" class="btn btn-block btn-secondary">Jugar</a>
          </div>
    </div>

    <div class="card border-primary">
          <img src="/assets/imagenes/adivina.jpg" class="card-img-top" alt="Aritmetica">
          <div class="card-body text-center">
            <h5 class="card-title">Adivina el número secreto</h5>
          </div>
          <div class="card-footer bg-transparent">
            <a routerLink="/Juegos/Adivina" class="btn btn-block btn-primary">Jugar</a>
          </div>
    </div>

    <div class="card border-secondary bg-primary">
          <img src="/assets/imagenes/tateti.png" class="card-img-top" alt="Tateti">
          <div class="card-body text-center">
            <h5 class="card-title">Tateti</h5>
          </div>
          <div class="card-footer bg-transparent">
            <a routerLink="/Juegos/Tateti" class="btn btn-block btn-secondary">Jugar</a>
          </div>
    </div>

    <div class="card border-secondary bg-primary">
          <img src="/assets/imagenes/anagrama.jpg" class="card-img-top" alt="Anagrama">
          <div class="card-body text-center">
            <h5 class="card-title">Anagrama</h5>
          </div>
          <div class="card-footer bg-transparent">
            <a routerLink="/Juegos/Anagrama" class="btn btn-block btn-secondary">Jugar</a>
          </div>
    </div>

    <div class="card border-primary">
          <img src="/assets/imagenes/memotest.jpg" class="card-img-top" alt="Memotest">
          <div class="card-body text-center">
            <h5 class="card-title">Memotest</h5>
          </div>
          <div class="card-footer bg-transparent">
            <a routerLink="/Juegos/Memotest" class="btn btn-block btn-primary">Jugar</a>
        </div>
    </div>
  </div>
</div>