<div class="container animated fadeIn fast">
  <div class="card mt-5 p-5">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" *ngIf="!mostrarAviso else avisoMsj">
        <fieldset>
          <legend class="text-center">Iniciar Sesión</legend>
          <div class="form-group">
            <input type="text" placeholder="Email" formControlName="email" class="form-control">
          </div>
  
          <div class="form-group">
            <input type="password" placeholder="Clave" formControlName="clave" class="form-control"> 
          </div>

          <div class="form-group">
            <input id="btnSubmitLogin" type="submit" value="Enviar" class="form-control btn btn-primary"  *ngIf="!mostrarSpinner">
            <button class="form-control btn btn-primary" type="button" *ngIf="mostrarSpinner">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Ingresando. . .
            </button>
          </div>
        </fieldset>
      </form>

      <ng-template #avisoMsj>
        <h5>{{aviso}}</h5>
        <a routerLink="/Login" (click)="onVolver()">Volver</a>
      </ng-template>
    </div>

    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="form-group">
          <button routerLink="/" class="btn btn-outline-danger">Cancelar</button> &nbsp;
          <button routerLink="/Registro" class="btn btn-outline-success">Registrase</button>
        </div>

        <span>
          <button class="btn btn-outline-light" (click)="ingresarInvitado()">Ingresar como invitado</button>
        </span>
      </div>
    </div>
  </div>
</div>